.body{
    background-color: #F7F8F9;   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header-content{
    background-image: url(../images/portfolio-background.png);
    background-size: cover;
    text-shadow: 2px 2px 2.7px #FCFCFC;
    text-align: center;
    padding: 2%;
}

header{
    font-size: 45px;
}

#slogan{
    margin-top: 15px;
    margin-bottom: 1px;
    font-size: 30px;
}

#navigation{
    margin-top: 50px;
}

main{
    margin-top: 75px;
}

#about-me-image{
    height: 300px;
    width: 300px;
}

img{
    height: 170px;
    width: 190px;
}

#footer-content{
    background-image: url(../images/portfolio-background.png);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2.7px #FCFCFC;
}

#sections{
    margin-top: 100px; 
}

.box{
    border-style: solid;
    border-color: #070707;
    text-align: center;
    box-shadow: 2px 2px 3px #F7F8F9;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    #about-me{
        margin-left: 100px;
    }    
}