.body{
    background-color: whitesmoke;   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header-content{
    background-image: url(../images/portfolio-background.png);
    background-size: cover;
    text-shadow: 2px 2px 2.7px #FCFCFC;
    text-align: center;
    padding: 2%;
    box-shadow: 5px 5px 7px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header{
    font-size: 45px;
}

#slogan{
    margin-top: 15px;
    margin-bottom: 1px;
    font-size: 30px;
}

#navigation{
    margin-top: 50px;
}

main{
    margin-top: 75px;
}

#about-me-image{
    height: 300px;
    width: 300px;
}

#about-me-para{
    line-height: 30px;
    font-size: 17px;
}

img{
    height: 170px;
    width: 190px;
}

#footer-content{
    background-image: url(../images/portfolio-background.png);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2.7px #FCFCFC;
    box-shadow: 5px 5px 7px black;
}

#sections{
    margin-top: 50px; 
}

.box{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 7px black;
    transition-duration: 900ms;
    transition-property: all;
}

.summary-items{
    line-height: 30px;
    opacity: .25;
    transition-duration: 700ms;
    transition-property: all;
}

.box:hover {
    box-shadow: 3px 3px 25px #007bff;
    transform: scale(1.1);
}

.box:hover .summary-items{
   text-shadow: 2.5px 2.5px 5px #8C8C8C;
   opacity: 1;
}

.section-heading{
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    #about-me{
        margin-left: 100px;
    }    
}

#table-head{
    font-weight: bold;
    font-size: 20px;
}